/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--text-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Body*/
html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "DM Sans";
  scroll-behavior: smooth;
}

:root{
  --primary-color: #9974D7; 
  --text-color: #1A0D30;
  --text-color-light-1: #271448;
  --background-color: #F3EFFA;
  --background-shade-1: #E8E0F6;
}

/* Sidebar */
.sidebar{
  height: 100%;
  width: 15%;
  padding: 0px;
  position: fixed;
  background-color: var(--text-color);
  
  font-weight: bold;
  color: var(--background-color);
}
.sidebar ul{
  margin: 0px;
  padding: 30px;
  list-style-type: none;
}
.sidebar a
{
  padding: 2.5px 0px;
  margin: 0px;
  display: block;
  background-color: transparent;
  text-decoration: none;
}
.sidebar a:link {
  color: var(--background-color)
}
.sidebar a:visited {
  color: var(--background-color)
}
.sidebar a:hover {
  color: var(--primary-color);
}
.sidebar a.active{
  color: var(--primary-color);
}

/* Content */
.content{
  height: 100%;
  margin-left: 15%;
}
.section{
  height: 100%;
}
#home{
  background-color: var(--background-color);
  position: relative;
}
/* Home */
.homeContent div{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1{
  font-size: 5em;
  margin: 0px;
}
h3{
  font-size: 2em;
  margin: 0px;
}